/* using position:relative */

/* .top-container{
    width: 200px;
    height: 200px;
    background-color: red;
    border: 10px solid black;
    padding: 20px;
}
.middle-container{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 20px solid black;
    position: relative;
    left: 260px;
}
.bottom-container{
    width: 200px;
    height: 200px;
    background-color: green;
    border: 10px solid black;
    position: relative;
    left: 500px;
} */

/* using margin statement */
.top-container{
    width: 200px;
    height: 200px;
    background-color: red;
    border: 10px solid black;
    padding: 20px;
}
.middle-container{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 20px solid black;
    margin-left: 260px;
}
.bottom-container{
    width: 200px;
    height: 200px;
    background-color: green;
    border: 10px solid black;
    margin-left: 500px;
}